.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 8px;
  }
  
  .block {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    font-size: 28px;
    font-weight: bolder;
  }